*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{    
    font: 16px/1.42 "Open Sans", "Helvetica", sans-serif;
    color: #fff;
    -webkit-font-smotthing: antialiased;
    -moz-osx-font-smothing: grayscale;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    min-width: 1140px;
    min-height: 100%;    
    background: #001821;
}

.wrapper__content{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #fff;
}

.container{
    margin: 0 auto;
    width: 1140px;
}


h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    margin: 0;
}

h2{
    font-size: 36px;
    font-weight: 700;
}

.hero__title{
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.title{
    font-size: 36px;
    font-weight: 700;
}

.subtitle{
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.title--black{
    color: #000;
}
.title--white{
    color: #fff;
}

.title--size--48{
    font-size: 48px;
}

p{
    display: block;
    padding: 0;
    margin: 0;
}

.text--gray--16{
    color: #818181;
    font-size: 16px;
    line-height: 1.7;
}

.date{
    font-size: 14px;
    font-weight: 400;    
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

textarea{
    width: 100%;
    resize: none;
}

.page-content{
    padding-top: 98px;
}


