.button{
    display: inline-block;
    min-height: 55px;
    padding: 18px 40px;
    background-color: red;
    border-radius: 35px;
    color: #fff;
    font-size: 14px; 
    font-weight: bold;  
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

.button--red--hover:hover{
    background:  #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
    transition: .5s;
}

.button--color--white{
    background: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
}

.button--color--white:hover{
    background: #F5170E;
    color: #fff;
    transition: .5s;
}

.button--color--black{
    background: #8E8E8E;
    color: #fff;
    padding-left: 42px;
    padding-right: 42px;
}

.button--color--black:hover{
    background: #2B2B2B;
    transition: .5s;
}