.page-content__main{
    padding-top: 0;
}

.hero__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    min-height: 333px;
    margin-bottom: 246px;
}

.hero__title{
    width: 45%;
    font-size: 72px;
    font-weight: bold;
    line-height: 1.38;
    margin-bottom: 25px;
}

.hero__subtitle{
    width: 45%;
    font-size: 18px;
    margin-bottom: 29px;
}