.container__locations {
    display: flex;
    flex-direction: column;
   
}
  
.locations__item {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 51px;
}

.locations__item:last-child{
  margin-bottom: 13px;
}

.locations__img {
    width: 41%;
    margin-right: 4.5%;
    border-radius: 5px;
}
  
.locations__description {
    flex: 1;
    padding-top: 11px;
}
  
.locations__description .title{
    margin-bottom: 26px;
}

.locations__text {
    font-size: 16px;
    line-height: 1.7;
    color: #303030;
    word-spacing: 0;
    text-align: justify;
}

.locations__text p{
    margin-bottom: 17px;
}

.locations__text p:last-child{
    margin-bottom: 34px;
} 