.menu__list{
    display: flex;
}

.menu__item{    
    margin-right: 55px;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    font-size: 14px;    
}

.menu__link:hover{
    color: #DA0100;
}

.menu__item--active .menu__link{
    color:#DA0100;
}