.partners{
    background: #f5f5f5;
    padding-top: 85px;
}

.partners__title{
    font-size: 48px;
    margin-bottom: 42px;
}

.partners__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners__item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 285px;
    height: 150px;   
    margin-bottom: -23px;   
}

.partners__link{
    filter: grayscale(100%);
}

.partners__link:hover{
    filter: grayscale(0%);
}

.partners__item:nth-child(4n+4){
    justify-content: flex-end;
}

.partners__item:last-child{
    margin-bottom: 63px;
}

