.page-content{
    background: #fff;
}

.review__list{
    column-count: 2;
    column-gap: 30px;
}

.review__item{
    display: inline-flex;
    flex-direction: column;    
    background: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 50px 28px 28px 32px;
}

.review__item:last-child{
    margin-right: 0;
    margin-bottom: 71px;
}

.user{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.avatar{
    width: 142px;
    height: 142px;
    margin-right: 22px;
}

.user__name{
    margin-bottom: 3px;
}

.user__name:hover{
    text-decoration: underline;
    color: #2E77A4;
    transition: .5s;
}

.user__name::after{
    content: url('../../img/social/vk-blue.png');
    width: 1.5em;
    margin-left: 8px;
}

.review__tag{
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

.tag{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #e7e7e7;
    border-radius: 35px;
    font-size: 13px;
    color: #303030;
    height: 37px;
    padding: 10px 18px;
}

.tag--bg--green{
    background: #B9EAE4;
}

.review__item .review__title{
    font-size: 30px;
    margin-bottom: 13px;
}

.review__text p{
    margin-bottom: 20px;
}

.review__text p:last-child{
    margin-bottom: 46.5px;
}
.review__title{
    color: #1A1B1E;
}

.review__date{
    color: #1A1B1E;
    font-weight: 700;
}

.container__review{
    margin-bottom: 96px;
}