.separator__reviews{
    background: 
                url('../../img/couple.png') right 22% bottom 0 no-repeat, url('../../img/banner-peach-mount.png');
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator__content{
    max-width: 53%;
}

.separator__title{
    font-size: 48px;
}